table {
    margin: 4rem auto;
    width: 80%;
    text-align: center;
}

input[type="search"] {
    margin: 0 auto;
    width: 30%
}

.card{
    margin-top: 3%;
}

.info{
    text-align: center;
    padding: 30px;
}


#btn-details{
    background-color: rgb(48, 89, 226);
    color: white;
}

#btn-update{
    background-color: rgb(128, 128, 128);
    color: white;
}

#btn-delete{
    background-color: rgb(241, 55, 55);
    color: white;
}