<div class="container">
    <table class="table table-striped overflow-x-auto overflow-y-auto">
        <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">123</th>
            <td>Drew</td>
            <td>McKop</td>
            <td>Software ENG</td>
            <td>
                <button type="submit" class="btn btn-primary mx-2">Details</button>
                <button type="submit" class="btn btn-secondary mx-2">Edit</button>
                <button type="submit" class="btn btn-danger mx-2" (click)="delete()">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
