<body>
  <div class="card">
    <h1 class="heading">
      Details
    </h1><br>
      <table class="table table-borderless ">
        <tbody >
        <tr>
          <td><label for="name">Name:</label></td>
          <td><label >{{this.name}}</label></td>
        </tr>
        <tr>
          <td><label for="name">Last Name:</label></td>
          <td><label >{{this.lastName}}</label></td>
        </tr>
        <tr>
          <td><label for="name">Email:</label></td>
          <td><label >{{this.email}}</label></td>
        </tr>
        <tr>
          <td><label for="name">Role:</label></td>
          <td><label >{{this.role}}</label></td>
        </tr>
        <tr>
          <td><label for="name">Salary:</label></td>
          <td><label >R{{this.salary}}</label></td>
        </tr>
        </tbody>
      </table><br><br>
    <button class="btn btn-primary" routerLink="/">Back</button>
  </div>
  
</body>
