<body>
  <h1 class="heading">
    Details
  </h1>
  <div class="card">
    <div class="card-body">
      <label for="name">Name</label><br />
      <input readonly type="text" placeholder="{{this.name}}" /><br />
  
      <label for="Lastname">Lastname</label><br />
      <input readonly type="text" placeholder="{{this.lastName}}" /><br />
  
      <label for="cellphone">cellphone</label><br />
      <input readonly type="text" placeholder="{{this.cellNumber}}" /><br />
  
      <label for="name">Email</label><br />
      <input readonly type="email" placeholder="{{this.email}}" /><br />
  
      <label for="name">Role</label><br />
      <input readonly type="text" placeholder="{{this.role}}" /><br />
  
      <label for="name">Salary</label><br />
      <input readonly type="number" placeholder="{{this.salary}}" /><br />
    </div>
    <button class="btn btn-primary" routerLink="/">Back</button>
  </div>
</body>
