<body>
  <h1 class="heading">
    Details
  </h1>
  <div class="card">
    <div class="card-body">
      <label class="type" for="name">Name:</label>
      <label class="info">{{this.name}}</label><br /><br />
  
      <label class="type" for="Lastname">Lastname:</label>
      <label class="info">{{this.lastName}}</label><br /><br />
  
      <label class="type" for="cellphone">cellphone:</label>
      <label class="info">{{this.cellNumber}}</label><br /><br />
  
      <label class="type" for="name">Email:</label>
      <label class="info">{{this.email}}</label><br /><br />
  
      <label class="type" for="name">Role:</label>
      <label class="info">{{this.role}}</label><br /><br />
  
      <label class="type" for="name">Salary:</label>
      <label class="info">{{this.salary}}</label><br /><br />
    </div>
    <button class="btn btn-primary" routerLink="/">Back</button>
  </div>
</body>
