<body>
    <h1 class="heading">
        Add New Employee
    </h1>
    <div class="card">
        <form [formGroup]="addForm" >
            <label for="fname">Name</label><br>
            <input formControlName="empName" type="text" required id="fname" name="fname" ><br><br>

            <label for="lname">Last Name</label><br>
            <input formControlName="empLastName" type="text" required id="lname" name="lname" ><br><br>

            <label for="fname">Cell Number</label><br>
            <input formControlName="cellNumber" type="text" required id="fname" name="fname" ><br><br>

            <label for="lname">Email</label><br>
            <input formControlName="email" type="text" required id="lname" name="lname" ><br><br>

            <label for="fname">Role</label><br>
            <input formControlName="role" type="text" required id="fname" name="fname" ><br><br>

            <label for="lname">Salary</label><br>
            <input formControlName="salary" type="number" required id="lname" name="lname" ><br><br>

            
        </form>
        <button class="btn btn-primary" (click)="add()" [disabled]="!addForm.valid">Add</button>
    </div>
</body>
