body{
    text-align: center;
    background-color: #F6F6F2;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    overflow: scroll;
    margin-top: 150px;
  }
  
  .heading{
    padding: 3%;
    font-size: 40px;
    text-align: center;
    background-color: #6FB3B8;
  }

.card {
    border-radius: 8px;
    margin: 0 auto;
    width: 75%;
    background-color: #BADFE7;
    position: relative;
    margin-bottom: 5%;
    padding-bottom: 20px;
  }

  .btn{
    background-color: #6FB3B8;
    border: none;
    width: 25%;
    margin: 0 auto;
    color: black;
    font-size: large;
  }

  #add{
    background-color: #6FB3B8;
  }

input{
    width: 40%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }