<div class="body">
  <h1 class="heading">
    Update Employee
</h1>
 <div class="card" >
     <div class="card-body">       
      <form>
        <label>Name</label><br>
        <input type="text" name="Name" required placeholder="John"><br><br>

        <label>Last Name</label><br>
        <input type="text" name="lastName" required placeholder="Wick"><br><br>

        <label>Cell Number</label><br>
        <input type="text" name="cellNumber" required placeholder="076 554 5531"><br><br>

        <label>Email</label><br>
        <input type="text" name="email" required placeholder="jw@assasination.com"><br><br>

        <label>Role</label><br>
        <input type="text" name="role" required placeholder="Assasian"><br><br>

        <label>Salary</label><br>
        <input type="text" name="salary" required placeholder="R1"><br><br>

      </form><br>
      <button class="btn" type="submit" id="update" (click)="update()">Update</button>
      <button class="btn" type="submit" id="back" routerLink="/">Back</button>
    </div>
</div>
</div>
