<div class="body">
  <h1 class="heading">
    Update Employee
</h1>
 <div class="card" style="width: 30rem;">
     <div class="card-body">       
      <form>
        <label>Name</label>
        <input type="text" name="Name" required placeholder="John">

        <label>Last Name</label>
        <input type="text" name="lastName" required placeholder="Wick">

        <label>Cell Number</label>
        <input type="text" name="cellNumber" required placeholder="076 554 5531">

        <label>Email</label>
        <input type="text" name="email" required placeholder="jw@assasination.com">

        <label>Role</label>
        <input type="text" name="role" required placeholder="Assasian">

        <label>Salary</label>
        <input type="text" name="salary" required placeholder="R1">

      </form>
      <button class="btn" type="submit" id="update" (click)="update()">Update</button>
      <button class="btn" type="submit" id="back" routerLink="/">Back</button>
    </div>
</div>
</div>
