<div class="body">
  <h1 class="heading">
    Update Employee
</h1>
 <div class="card" >
     <div class="card-body">       
      <form [formGroup]="updateForm">
        <label>Name</label><br>
        <input formControlName="empName" type="text" name="Name" [(ngModel)]="name" required value="{{this.name}}"><br><br>

        <label>Last Name</label><br>
        <input formControlName="empLastName" type="text" name="lastName" [(ngModel)]="lastName" required value="{{this.lastName}}"><br><br>

        <label>Cell Number</label><br>
        <input formControlName="cellNumber" type="text" name="cellNumber" [(ngModel)]="cellNumber" required value="{{this.cellNumber}}"><br><br>

        <label>Email</label><br>
        <input formControlName="email" type="text" name="email" [(ngModel)]="email" required value="{{this.email}}"><br><br>

        <label>Role</label><br>
        <input formControlName="role" type="text" name="role" [(ngModel)]="role" required value="{{this.role}}"><br><br>

        <label>Salary</label><br>
        <input formControlName="salary" type="number" name="salary" [(ngModel)]="salary" required value="{{this.salary}}" min="0"><br><br>

      </form><br>
      <button class="btn" type="submit" id="update" (click)="update()">Update</button>
      <button class="btn" type="submit" id="back" routerLink="/">Back</button>
    </div>
</div>
</div>
